# ---- Build ----
build/
build-*/
cmake-build-*/

# ---- CMake temp files ----
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# ---- Binarys ----
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib
*.pdb

# ---- Logs och temps ----
*.log
*.tmp
*.swp

# ---- IDE ----
# VS Code
.vscode/
# CLion / JetBrains
.idea/
# Xcode
*.xcworkspace
*.xcodeproj

.DS_Store
Thumbs.db


*.txt